# Earth Analytics Bootcamp - Practice Activity on Data Structures
**Author:** Eric Oropezaelwood

In [1]:
import os
import numpy as np
import pandas as pd
import urllib

In [2]:
boulderMonthlyTemperatures = [0.0, 2.0, 5.0, 9.56, 14.39, 21.72, 16.72, 11.61, 4.89, 0.99]

In [3]:
boulderMonthlyTemperatures.insert(10,19.56)
boulderMonthlyTemperatures.insert(11,22.78)

boulderMonthlyTemperatures

[0.0, 2.0, 5.0, 9.56, 14.39, 21.72, 16.72, 11.61, 4.89, 0.99, 19.56, 22.78]

In [7]:
npBoulderMonthlyTemperatures = np.array([0.0, 2.0, 5.0, 9.56, 14.39, 21.72, 16.72, 11.61, 4.89, 0.99, 19.56, 22.78])
print(npBoulderMonthlyTemperatures)

secondNpArray = np.array(boulderMonthlyTemperatures)
print(secondNpArray)

[  0.     2.     5.     9.56  14.39  21.72  16.72  11.61   4.89   0.99
  19.56  22.78]
[  0.     2.     5.     9.56  14.39  21.72  16.72  11.61   4.89   0.99
  19.56  22.78]

In [8]:
# change directory to hw2 directory
os.chdir("/home/ericdelamancha/Documents/Workspace/Earth-analytics-bootcamp")

# print the current working directory
os.getcwd()

'/home/ericdelamancha/Documents/Workspace/Earth-analytics-bootcamp'

In [10]:
# download .csv containing monthly average snowfall (inches) between 2007-2017 for Boulder, CO
urllib.request.urlretrieve(url = "https://ndownloader.figshare.com/files/12732467", 
                           filename = "data/avgMonthlyTempPractice.txt")

# print message that data downloads were successful
print("datasets downloaded successfully")

datasets downloaded successfully

In [13]:
avg_monthly_precip = np.loadtxt(fname = "/home/ericdelamancha/Documents/Workspace/Earth-analytics-bootcamp/data/avgMonthlyTempPractice.txt")
print(avg_monthly_precip)

[  0.     2.     5.     9.56  14.39  19.56  22.78  21.72  16.72  11.61
   4.89   0.99]

In [32]:
sliceOne =np.array(avg_monthly_precip)
sliceOne = sliceOne[2:5]
sliceOneMean = np.mean(sliceOne)
print("Mean of Spring Average Monthly Temperatures:", sliceOneMean)

sliceTwo =np.array(avg_monthly_precip)
sliceTwo = sliceTwo[8:11]
sliceTwoMean = np.mean(sliceTwo)
print("Mean of Fall Average Monthly Temperatures:", sliceTwoMean)

Mean of Spring Average Monthly Temperatures: 9.65
Mean of Fall Average Monthly Temperatures: 11.0733333333

In [41]:
avgMonTempBoulder = pd.DataFrame( columns=["Month", "Temp"], data=[ ["January", 0.00], ["February", 2.00], ["March", 5.00], ["April", 9.56], ["May", 14.39], ["June", 19.56], ["July", 22.76], ["August", 21.72], ["September", 16.72], ["October", 11.61], ["November", 4.89], ["December", 0.99] ] )
avgMonTempBoulder

        Month   Temp
0     January   0.00
1    February   2.00
2       March   5.00
3       April   9.56
4         May  14.39
5        June  19.56
6        July  22.76
7      August  21.72
8   September  16.72
9     October  11.61
10   November   4.89
11   December   0.99

In [42]:
# download .csv containing monthly average snowfall (inches) between 2007-2017 for Boulder, CO
urllib.request.urlretrieve(url = "https://ndownloader.figshare.com/files/12739457", 
                           filename = "data/avg-temp-month-seasons.csv")

# print message that data downloads were successful
print("datasets downloaded successfully")

datasets downloaded successfully

In [43]:
avg_temp_pandas = pd.read_csv("/home/ericdelamancha/Documents/Workspace/Earth-analytics-bootcamp/data/avg-temp-month-seasons.csv")
avg_temp_pandas

   months   temp seasons
0     Jan   0.00  Winter
1     Feb   2.00  Winter
2     Mar   5.00  Spring
3     Apr   9.56  Spring
4     May  14.39  Spring
5    June  19.56  Summer
6    July  22.78  Summer
7     Aug  21.72  Summer
8    Sept  16.72    Fall
9     Oct  11.61    Fall
10    Nov   4.89    Fall
11    Dec   0.99  Winter

In [61]:
avg_temp_pandas.loc['Winter':]

Empty DataFrame
Columns: [months, temp, seasons]
Index: []